<h2>{{isEditMode ? 'Edit' : 'Create'}} Degree</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <mat-form-field appearance="fill">
      <mat-label>Degree Name</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="form.get('name')?.hasError('required')">
        Name is required
      </mat-error>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      {{isEditMode ? 'Update' : 'Save'}}
    </button>
    <button mat-button color="accent" routerLink="/degrees">Cancel</button>
</form>