<h2>{{isEditMode ? 'Edit' : 'Create'}} Candidate</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" required />
      <mat-error *ngIf="form.get('firstName')?.hasError('required')">Required</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" required />
      <mat-error *ngIf="form.get('lastName')?.hasError('required')">Required</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required />
      <mat-error *ngIf="form.get('email')?.hasError('email')">Invalid email</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Mobile</mat-label>
      <input matInput formControlName="mobile" />
      <mat-error *ngIf="form.get('mobile')?.hasError('pattern')">Must be 10 digits</mat-error>
    </mat-form-field>
  


    
    <mat-form-field appearance="fill" >
      <mat-label>Degree</mat-label>
      <mat-select formControlName="degreeId">
        <mat-option [value]="null">None</mat-option>
        <mat-option *ngFor="let degree of degrees" [value]="degree.id">{{degree.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <input *ngIf="!isEditMode" type="file" (change)="onFileSelected($event)" />
  
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      {{isEditMode ? 'Update' : 'Save'}}
    </button>
    <button mat-button color="accent" routerLink="/candidates">Cancel</button>
  </form>